%center{margin-left: auto; margin-right: auto}
%in-block{display: inline-block}
%block{display: block}
.w-auto { width: 100% }
.abs-center{position: absolute; left: 50%; margin-left: -(1680px/2)}
.wleft-auto{display: table-cell; width: 1000rem}
.fl,.l-area { float: left }
.fr,.r-area { float: right; }
.clearfix { *zoom: 1;  }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }

.pr { position: relative; zoom: 1; }
.pa { position: absolute; }

.tl{ text-align: left}
.tc { text-align: center; }
.tr { text-align: right; }

.none{display: none}
.in-blodk{display: inline-block}
.hide{visibility: hidden}
.ov-hi{overflow: hidden}

.f12{font-size: 12px;}
.f14{font-size: 14px;}
.f16{font-size: 16px!important;}
.f18{font-size: 18px!important;}
.f24{font-size: 24px!important;}
.col-white{color: #fff!important;}
.col-orange{color: #ff5b01!important;}

.fb{font-weight: bold}
.no-wrap{white-space: nowrap}

.mt10{margin-top: 10px}
.mt12{margin-top: 12px}
.mt14{margin-top: 14px}
.mt16{margin-top: 16px}
.mt20{margin-top: 20px}
.mt40{margin-top: 40px}
.mt70{margin-top: 70px}
.mt90{margin-top: 70px}
.mt100{margin-top: 100px}
.ml250{margin-left: 250px}

.pl10{padding-left: 10px}
.pl20{padding-left: 20px}
.pl30{padding-left: 30px}
.pt10{padding-top: 10px}
.pt20{padding-top: 20px}
.pt30{padding-top: 30px}
.lh18{line-height: 18px!important;}

.com-wraper{
    width: 1000px;
    @extend %center;
}

.com-select {
    display: inline-block;
    width: 82px;
    color: #5f5f5f;
    dt {
        height: 31px;
        line-height: 31px;
        background: #ededed;
        span{
            display: inline-block;
            width: 80px;
            text-align: center;
        }
        i {
            width: 7px;
            height: 4px;
            display: inline-block;
            background: url(../images/arr1.png) no-repeat;
            vertical-align: middle;
            margin-left: 6px;
        }
    }
}
.icon {
    display: inline-block;
    vertical-align: middle;
}
.icon-new {
    width: 27px;
    height: 27px;
    background: url(../images/icon_new.png) no-repeat;
}
.icon-js {
    width: 29px;
    height: 30px;
    background: url(../images/icon_js.png) no-repeat;
}
.icon-sc {
    width: 24px;
    height: 30px;
    background: url(../images/icon_sc.png) no-repeat;
}
.icon-sy {
    width: 32px;
    height: 28px;
    background: url(../images/icon_sy.png) no-repeat;
}
.icon-tj {
    width: 32px;
    height: 28px;
    background: url(../images/icon_yb.png) no-repeat;
}
.icon-sh {
    width: 26px;
    height: 26px;
    background: url(../images/icon_sh.png) no-repeat;
}
.icon-gz {
    width: 23px;
    height: 31px;
    background: url(../images/icon_gz.png) no-repeat;
}
.icon-my {
    width: 25px;
    height: 25px;
    background: url(../images/icon_my.png) no-repeat;
}
.icon-qy {
    width: 31px;
    height: 26px;
    background: url(../images/icon_qy.png) no-repeat;
}
