/*reset*/
body, div, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, iframe, input, textarea, select, label, article, aside, footer, header, menu, nav, section, time, audio, video {
  margin: 0;
  padding: 0;
}

article, aside, footer, header, nav, section, audio, canvas, video, img {
  display: block;
}

body {
  font: 14px/1.5 "Microsoft YaHei";
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

textarea {
  resize: none;
}

iframe, img {
  border: 0;
}

ul, ol {
  list-style: none;
}

input, select, textarea {
  outline: 0;
}

button {
  border: none;
}

table {
  border-collapse: collapse;
}

a {
  text-decoration: none;
  color: #000;
}

address, caption, cite, dfn, em, th, var, i {
  font-style: normal;
  font-weight: normal;
}

input, button {
  border: 0 none;
  font-family: "Microsoft YaHei";
  outline: none;
}

button {
  cursor: pointer;
}

.com-wraper {
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
}

.w-auto {
  width: 100%;
}

.abs-center {
  position: absolute;
  left: 50%;
  margin-left: -840px;
}

.wleft-auto {
  display: table-cell;
  width: 1000rem;
}

.fl, .l-area {
  float: left;
}

.fr, .r-area {
  float: right;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.pr {
  position: relative;
  zoom: 1;
}

.pa {
  position: absolute;
}

.tl {
  text-align: left;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.none {
  display: none;
}

.in-blodk {
  display: inline-block;
}

.hide {
  visibility: hidden;
}

.ov-hi {
  overflow: hidden;
}

.f12 {
  font-size: 12px;
}

.f14 {
  font-size: 14px;
}

.f16 {
  font-size: 16px !important;
}

.f18 {
  font-size: 18px !important;
}

.f24 {
  font-size: 24px !important;
}

.col-white {
  color: #fff !important;
}

.col-orange {
  color: #ff5b01 !important;
}

.col-blue {
  color: #01a2ff !important;
}

.col-grey {
  color: #979797;
}

.fb {
  font-weight: bold;
}

.no-wrap {
  white-space: nowrap;
}

.mt4 {
  margin-top: 4px !important;
}

.mt8 {
  margin-top: 8px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt12 {
  margin-top: 12px !important;
}

.mt14 {
  margin-top: 14px !important;
}

.mt16 {
  margin-top: 16px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mt70 {
  margin-top: 70px !important;
}

.mt90 {
  margin-top: 70px !important;
}

.mt100 {
  margin-top: 100px !important;
}

.ml250 {
  margin-left: 250px !important;
}

.pl10 {
  padding-left: 10px !important;
}

.pl20 {
  padding-left: 20px !important;
}

.pl30 {
  padding-left: 30px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.pt30 {
  padding-top: 30px !important;
}

.pb10 {
  padding-bottom: 10px !important;
}

.lh18 {
  line-height: 18px !important;
}

.w-250 {
  width: 250px;
}

.com-wraper {
  width: 1000px;
}

.com-select {
  display: inline-block;
  width: 82px;
  color: #5f5f5f;
}
.com-select dt {
  height: 31px;
  line-height: 31px;
  background: #ededed;
}
.com-select dt span {
  display: inline-block;
  width: 80px;
  text-align: center;
}
.com-select dt i {
  width: 7px;
  height: 4px;
  display: inline-block;
  background: url(../images/arr1.png) no-repeat;
  vertical-align: middle;
  margin-left: 6px;
}

.icon {
  display: inline-block;
  vertical-align: middle;
}

.icon-new {
  width: 27px;
  height: 27px;
  background: url(../images/icon_new.png) no-repeat;
}

.icon-js {
  width: 29px;
  height: 30px;
  background: url(../images/icon_js.png) no-repeat;
}

.icon-sc {
  width: 24px;
  height: 30px;
  background: url(../images/icon_sc.png) no-repeat;
}

.icon-sy {
  width: 32px;
  height: 28px;
  background: url(../images/icon_sy.png) no-repeat;
}

.icon-tj {
  width: 32px;
  height: 28px;
  background: url(../images/icon_yb.png) no-repeat;
}

.icon-sh {
  width: 26px;
  height: 26px;
  background: url(../images/icon_sh.png) no-repeat;
}

.icon-gz {
  width: 23px;
  height: 31px;
  background: url(../images/icon_gz.png) no-repeat;
}

.icon-my {
  width: 25px;
  height: 25px;
  background: url(../images/icon_my.png) no-repeat;
}

.icon-qy {
  width: 31px;
  height: 26px;
  background: url(../images/icon_qy.png) no-repeat;
}

.icon-home {
  width: 31px;
  height: 26px;
  background: url(../images/icon_home.png) no-repeat;
}

.icon-phone {
  width: 24px;
  height: 23px;
  background: url(../images/icon_phone.png) no-repeat;
}

.icon-xj {
  width: 32px;
  height: 28px;
  background: url(../images/icon_xj.png) no-repeat;
}

.icon-user2 {
  width: 22px;
  height: 22px;
  background: url(../images/icon_user3.png) no-repeat;
}

.icon-lock {
  width: 21px;
  height: 28px;
  background: url(../images/icon_lock2.png) no-repeat;
}

.btn {
  height: 28px;
  text-align: center;
  background: #42b0ff;
  color: #fff;
}

.top-bar {
  height: 39px;
  line-height: 39px;
  border-bottom: 1px solid #ededed;
  color: #999;
}
.top-bar .top-menu li {
  float: left;
  margin-left: 20px;
}
.top-bar .top-menu li a {
  color: #01a2ff;
  text-decoration: underline;
}

.footer {
  background: #616161;
  line-height: 24px;
  color: #fff;
  text-align: center;
}
.footer .inner {
  padding: 24px 0;
}

.menu-container {
  padding-bottom: 8px;
}
.menu-container.bor-st {
  border-bottom: 5px solid #01a2ff;
  padding-bottom: 15px;
}
.menu-container.bor-st .main-menu {
  margin-right: -45px;
}
.menu-container.bor-st .main-menu li {
  margin-right: 45px;
}
.menu-container.bor-st .main-menu li a {
  font-size: 18px;
}
.menu-container.bor-st .main-menu li:after {
  content: ' ';
  position: absolute;
  width: 1px;
  height: 19px;
  background: #b4b4b4;
  margin-top: 4px;
  margin-left: 23px;
}
.menu-container.bor-st .main-menu li.last:after {
  background: #fff;
}
.menu-container .logo {
  width: 216px;
  height: 66px;
  background: url(../images/logo.png) no-repeat;
  margin-top: 15px;
}
.menu-container .search-box {
  width: 484px;
  height: 35px;
  background: #01a2ff;
  margin-top: 32px;
}
.menu-container .search-box .search-in-box {
  width: 388px;
  height: 31px;
  background: #fff;
  border: 2px solid #01a2ff;
}
.menu-container .search-box .search-in-box .com-select {
  float: left;
}
.menu-container .search-box .user-in {
  width: 286px;
  height: 20px;
  margin-top: 5px;
  margin-left: 10px;
}
.menu-container .search-box .search-btn {
  float: left;
  width: 92px;
  height: 100%;
  background: url(../images/icon_search.png) center center no-repeat;
}
.menu-container .area2 {
  padding-top: 25px;
}
.menu-container .quick-nav {
  position: absolute;
  width: 224px;
  overflow: hidden;
  z-index: 9;
}
.menu-container .quick-nav dt {
  height: 35px;
  background: #20adff;
  text-align: center;
  font-size: 16px;
  line-height: 35px;
  color: #fff;
}
.menu-container .quick-nav dl {
  height: 390px;
  background: #01a2ff;
  padding: 10px 15px;
  line-height: 30px;
  margin-right: -40px;
}
.menu-container .quick-nav dl a {
  white-space: nowrap;
  float: left;
  color: #fff;
  margin-right: 30px;
}
.menu-container .main-menu {
  overflow: hidden;
  margin-right: -30px;
  padding-top: 3px;
}
.menu-container .main-menu li {
  float: left;
  margin-right: 24px;
}
.menu-container .main-menu li a {
  font-size: 16px;
  color: #444;
}
.menu-container .main-menu li a.current {
  color: #20adff;
}

.banner-container {
  position: relative;
  height: 410px;
  overflow: hidden;
}
.banner-container .banner-list {
  position: absolute;
  left: 50%;
  margin-left: -960px;
}
.banner-container .banner-list, .banner-container .banner-list li {
  height: 100%;
}
.banner-container .banner-list li {
  width: 1920px;
}
.banner-container .banner-list li a {
  display: block;
}
.banner-container .baner-page {
  position: absolute;
  margin-top: 360px;
  margin-left: 560px;
  font-size: 0;
}
.banner-container .baner-page li {
  display: inline-block;
  width: 56px;
  height: 11px;
  background: #fff;
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: pointer;
  margin-right: 18px;
}
.banner-container .baner-page li.on {
  background: #01a2ff;
}

.main-container {
  background: #ededed;
  padding-bottom: 30px;
}

.com-part-area {
  background: #fff;
}

.com-cont-inner {
  padding-top: 12px;
}

.com-cont-inner2 {
  padding: 12px 15px;
}

.com-tit {
  height: 60px;
  margin: 0 15px;
  border-bottom: 1px solid #e9e9e9;
}
.com-tit.sy-tit {
  border-bottom-color: transparent;
}
.com-tit .tip {
  padding-left: 174px;
  padding-top: 10px;
  font-size: 16px;
  color: #ff6c00;
}
.com-tit .tit-st {
  position: absolute;
  margin-left: -15px;
  margin-top: -7px;
  width: 172px;
  height: 50px;
  color: #fff;
  line-height: 50px;
  font-size: 0;
}
.com-tit .tit-st .font {
  vertical-align: middle;
  font-size: 22px;
  margin-left: 10px;
}
.com-tit .tit-st .icon {
  margin-left: 28px;
}
.com-tit .tit-st .j {
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-left-width: 4px;
  border-right-width: 4px;
  border-left-color: #094c73;
  right: -8px;
}
.com-tit .tit-st .z {
  position: absolute;
  height: 8px;
  width: 14px;
  background: #fff;
  right: -14px;
  top: 7px;
}
.com-tit .st1 {
  background: #01a2ff;
}
.com-tit .st2 {
  background: #ff9306;
}
.com-tit .st2 .j {
  border-left-color: #ba7010;
}
.com-tit .st2 .icon {
  margin-left: 20px;
}
.com-tit .st5 {
  background: #ff6464;
}
.com-tit .st5 .j {
  border-left-color: #be4b4b;
}
.com-tit .st5 .icon {
  margin-left: 20px;
}
.com-tit .st6 {
  background: #ff9306;
}
.com-tit .st6 .j {
  border-left-color: #b16706;
}
.com-tit .st6 .icon {
  margin-left: 20px;
}
.com-tit .st7 {
  background: #ba9d76;
}
.com-tit .st7 .j {
  border-left-color: #9a7f5b;
}
.com-tit .st7 .icon {
  margin-left: 20px;
}
.com-tit .st8 {
  background: #d84040;
}
.com-tit .st8 .j {
  border-left-color: #7e2710;
}
.com-tit .st8 .icon {
  margin-left: 12px;
}
.com-tit .st9 {
  background: #831ef4;
}
.com-tit .st9 .j {
  border-left-color: #312828;
}
.com-tit .st9 .icon {
  margin-left: 12px;
}
.com-tit .more {
  float: right;
  font-size: 16px;
  color: #666;
  margin: 18px 24px 0 0;
}

.qg-tit {
  height: 180px;
  border-bottom: none;
}
.qg-tit .tit-st {
  width: 64px;
  height: 186px;
  text-align: center;
}
.qg-tit .tit-st .font {
  width: 26px;
  display: inline-block;
  margin: auto;
  line-height: 30px;
}
.qg-tit .st3 {
  background: #2ca3b5;
}
.qg-tit .st3 .j {
  border-left-color: #20823e;
  top: 0;
}
.qg-tit .st3 .icon {
  position: relative;
  left: -13px;
}
.qg-tit .st4 {
  background: #2cb556;
}
.qg-tit .st4 .j {
  border-left-color: #196d7f;
  top: 0;
}
.qg-tit .st4 .icon {
  position: relative;
  left: -13px;
}

.com-cont {
  margin: 0 15px;
  overflow: hidden;
}

.pic-news-item {
  margin: 20px 0;
  overflow: hidden;
}
.pic-news-item.has-pa {
  padding-bottom: 20px;
  border-bottom: 1px dashed #ccc;
}
.pic-news-item dt {
  padding-left: 5px;
  float: left;
}
.pic-news-item dt img {
  width: 205px;
  height: 136px;
  border: 1px solid #cdcdcd;
}
.pic-news-item dl {
  margin-left: 230px;
}
.pic-news-item dl h2 {
  height: 34px;
  line-height: 1;
}
.pic-news-item dl h2 a {
  font-size: 18px;
  font-weight: bold;
}
.pic-news-item dl h3 {
  line-height: 22px;
  color: #a1a1a1;
}
.pic-news-item dl p {
  margin-top: 5px;
  line-height: 26px;
  color: #444;
}

.person-area .com-cont {
  margin-right: -70px;
  padding: 12px 0;
}
.person-area .pic-news-item {
  float: left;
  width: 430px;
  margin: 12px 94px 12px 0;
}
.person-area .pic-news-item dt img {
  width: 162px;
  height: 102px;
}
.person-area .pic-news-item dl {
  margin-left: 184px;
}
.person-area .pic-news-item dl h2 {
  height: 28px;
  line-height: 28px;
}
.person-area .pic-news-item dl h2 a {
  font-size: 16px;
  color: #666;
}
.person-area .pic-news-item dl p {
  margin-top: 5px;
  line-height: 24px;
  color: #666;
}

.ad {
  margin: 12px 0;
}
.ad img {
  max-width: 1000px;
}

.slide-area {
  position: relative;
  background: #fff;
  height: 208px;
}
.slide-area .slide {
  margin: 0 28px;
  padding: 15px 0;
  overflow: hidden;
}
.slide-area .prev-btn, .slide-area .next-btn {
  position: absolute;
  width: 30px;
  height: 60px;
  top: 50%;
  background: #01a2ff url(../images/arr2.png) center center no-repeat;
  margin-top: -30px;
  left: -15px;
}
.slide-area .next-btn {
  background: #01a2ff url(../images/arr3.png) center center no-repeat;
  right: -15px;
  left: auto;
}

.com-dis-list {
  overflow: hidden;
}
.com-dis-list li {
  width: 174px;
  margin-right: 18px;
  float: left;
}
.com-dis-list li .pic {
  width: 172px;
  height: 110px;
  display: table-cell;
  vertical-align: middle;
  border: 1px solid #c9c9c9;
  text-align: center;
}
.com-dis-list li img {
  display: inline-block;
  vertical-align: middle;
  max-width: 172px;
  max-height: 110px;
}
.com-dis-list li h3 {
  line-height: 1;
  margin-top: 12px;
  margin-bottom: 4px;
  font-weight: bold;
}
.com-dis-list li h3, .com-dis-list li h3 a {
  color: #01a2ff;
}
.com-dis-list li p {
  font-size: 12px;
}
.com-dis-list.list-st1 {
  margin-right: -20px;
}
.com-dis-list.list-st1 li {
  width: 178px;
  margin-right: 20px;
  margin-bottom: 10px;
}
.com-dis-list.list-st1 li .pic {
  width: 176px;
  height: 134px;
}
.com-dis-list.list-st1 li img {
  max-width: 176px;
  max-height: 134px;
}
.com-dis-list.list-st1 li p {
  color: #979797;
  font-size: 14px;
  line-height: 18px;
  margin-top: 8px;
}

.scsy-area {
  height: 236px;
  position: relative;
}
.scsy-area .com-tit {
  position: absolute;
}
.scsy-area .sc-tit {
  left: 0;
}
.scsy-area .sy-tit {
  right: 34px;
}
.scsy-area .sy-tit .j {
  border-right-color: #20823e;
  border-left-color: transparent;
  right: 64px;
}
.scsy-area .sy-tit .z {
  right: 64px;
}
.scsy-area .sc-cont {
  position: absolute;
  width: 420px;
  margin: 20px 0 0 84px;
}
.scsy-area .sc-cont .more {
  font-size: 16px;
  margin-right: 15px;
}
.scsy-area .sc-cont ul {
  overflow: hidden;
}
.scsy-area .sc-cont li {
  width: 190px;
  float: left;
  margin-right: 15px;
  text-align: center;
}
.scsy-area .sc-cont li .pic {
  width: 188px;
  height: 132px;
  display: table-cell;
  vertical-align: middle;
  border: 1px solid #c9c9c9;
}
.scsy-area .sc-cont li .pic img {
  display: inline-block;
  vertical-align: middle;
  max-width: 188px;
  max-height: 132px;
}
.scsy-area .sc-cont li .font {
  line-height: 34px;
  color: #666;
}
.scsy-area .sy-cont {
  margin-left: 518px;
}

.tj-box {
  float: left;
  width: 225px;
}
.tj-box .tj-list li {
  padding-left: 10px;
  margin: 15px 0;
}
.tj-box .tj-list li a {
  padding-left: 26px;
  color: #666;
  line-height: 22px;
  font-size: 16px;
  background: url(../images/icon_ph.png) left center no-repeat;
}

.tj-box-1 {
  overflow: hidden;
  border-left: 1px solid #e9e9e9;
  padding-left: 16px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.tj-box-1 .com-dis-list {
  margin-right: -16px;
}
.tj-box-1 .com-dis-list li {
  width: 216px;
  margin-right: 32px;
  margin-bottom: 20px;
}
.tj-box-1 .com-dis-list li .pic {
  width: 216px;
  height: 138px;
}
.tj-box-1 .com-dis-list li img {
  max-width: 216px;
  max-height: 138px;
}
.tj-box-1 .com-dis-list li h3 a {
  font-size: 16px;
}
.tj-box-1 .com-dis-list li p {
  color: #979797;
}

.gz-box1 {
  float: left;
  width: 360px;
}

.gz-box2 {
  overflow: hidden;
  padding-left: 10px;
}
.gz-box2 .com-dis-list2 {
  margin-right: -16px;
}

.com-dis-list2 {
  overflow: hidden;
}
.com-dis-list2 li {
  width: 360px;
  height: 290px;
  float: left;
  margin-bottom: 12px;
}
.com-dis-list2 li .pic {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
}
.com-dis-list2 li .pic img {
  width: 100%;
  height: 100%;
}
.com-dis-list2 li .pic h3 {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.56);
}
.com-dis-list2.list-st1 li {
  width: 188px;
  height: 139px;
  margin-right: 16px;
}
.com-dis-list2.list-st1 li h3 {
  height: 28px;
  line-height: 28px;
  font-size: 14px;
}

.ad-list {
  margin-left: 5px;
  margin-right: -10px;
  overflow: hidden;
  padding-bottom: 15px;
}
.ad-list li {
  float: left;
  width: 180px;
  height: 60px;
  margin: 0 14px 10px 0;
}
.ad-list li img {
  width: 100%;
  height: 100%;
}

.dir-area span {
  font-family: '\5B8B\4F53';
  color: #6c6c6c;
  padding: 0 10px;
}
.dir-area a {
  color: #444;
}

.page-container {
  font-size: 0;
  text-align: center;
  margin: 20px 0;
}
.page-container span, .page-container a {
  display: inline-block;
  font-size: 14px;
  height: 25px;
  border: 1px solid #e8e8e8;
  line-height: 25px;
  padding: 0 12px;
  margin-left: 10px;
  color: #666;
}
.page-container .page-current {
  background: #0096ff;
  color: #fff;
}

.news-container {
  padding: 0 16px;
  margin-top: 15px;
}
.news-container .tit {
  font-size: 20px;
  color: #444;
  height: 90px;
  line-height: 90px;
  text-align: center;
  border-bottom: 1px solid #e9e9e9;
}
.news-container .source {
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #e9e9e9;
  color: #999;
  text-align: center;
}
.news-container .source span {
  margin-right: 44px;
}
.news-container .news-info {
  padding: 16px;
}

.quick-res {
  float: left;
  margin-left: 180px;
  line-height: 48px;
}
.quick-res label, .quick-res a {
  color: #999;
}
.quick-res a {
  margin-right: 10px;
}

.pp-sel a {
  color: #999;
}
.pp-sel a {
  margin-right: 10px;
}

.quick-search {
  float: right;
  padding-top: 14px;
}
.quick-search input {
  width: 250px;
  height: 28px;
  line-height: 28px\9;
  background: #f2f2f2;
  padding: 0 5px;
}
.quick-search button {
  height: 28px;
  color: #fff;
  background: #01a2ff;
  padding: 0 10px;
}

.col-2 {
  padding-top: 22px;
  overflow: hidden;
}
.col-2 .l-area, .col-2 .r-area, .col-2 .left, .col-2 .right {
  padding-bottom: 2000px;
  margin-bottom: -2000px;
  min-height: 300px;
}
.col-2 .l-area {
  width: 272px;
  border-right: 1px solid #e9e9e9;
}
.col-2 .r-area {
  width: 710px;
}
.col-2 .left, .col-2 .right {
  float: left;
  width: 50%;
}
.col-2 .cont {
  background: #fff;
}
.col-2 .left-sm {
  width: 248px;
  margin-right: 15px;
  float: left;
}
.col-2 .main {
  overflow: hidden;
}
.col-2 .left {
  box-sizing: border-box;
  border-right: 1px solid #e9e9e9;
}
.col-2 .right .auther {
  margin-left: 106px;
}
.col-2 .right .sp-list {
  margin-left: 13px;
}

.col-3 {
  overflow: hidden;
}
.col-3 .left, .col-3 .right, .col-3 .main {
  float: left;
  min-height: 250px;
}
.col-3 .left {
  background: #fff;
  width: 196px;
  background: #fff;
  margin-left: -100%;
}
.col-3 .right {
  background: #fff;
  width: 202px;
  margin-left: -202px;
}
.col-3 .main {
  width: 100%;
}
.col-3 .main .cont {
  background: #fff;
  margin: 0 212px 0 206px;
  min-height: 250px;
}

.list-wrap {
  margin: 0 10px;
}

.fl-list li {
  padding: 15px 10px;
  border-bottom: 1px solid #e9e9e9;
}
.fl-list li a {
  display: block;
  padding-left: 12px;
  height: 20px;
  line-height: 20px;
  border-left: 5px solid #c6c6c6;
  color: #999;
}
.fl-list li a.current {
  color: #01a2ff;
  border-color: #01a2ff;
}

.ph-tab {
  height: 34px;
  border-bottom: 1px solid #e9e9e9;
}
.ph-tab li {
  font-size: 16px;
  line-height: 1;
  width: 80px;
  text-align: center;
  float: left;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  color: #999;
  padding: 8px 0;
  margin-bottom: -1px;
  margin-right: 5px;
}
.ph-tab li.current {
  border-color: #42b0ff;
  color: #42b0ff;
}

.ol-list li {
  margin: 20px 0;
  color: #666;
  padding: 0 4px;
}
.ol-list li span {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  background: #d8d8d7;
  font-size: 12px;
  margin-right: 10px;
  vertical-align: middle;
}
.ol-list li span.one {
  background: #ff3728;
  color: #fff;
}
.ol-list li span.two {
  background: #ff8328;
  color: #fff;
}
.ol-list li span.three {
  background: #ffca28;
  color: #fff;
}
.ol-list li span.icon-us {
  background: url(../images/icon_use2.png) no-repeat;
}
.ol-list li em {
  float: right;
}
.ol-list li a {
  display: inline-block;
  width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #666;
  line-height: 16px;
  vertical-align: middle;
}
.ol-list li a.w-big {
  width: 210px;
}

.com-sim-tit {
  line-height: 1;
  height: 48px;
}
.com-sim-tit span {
  padding-left: 4px;
  font-size: 18px;
  color: #444;
}

.com-sim-cont {
  overflow: hidden;
  padding-left: 12px;
}

.sp-list {
  overflow: hidden;
  margin-right: -50px;
}
.sp-list li {
  width: 188px;
  line-height: 1;
  margin-right: 50px;
  margin-bottom: 26px;
  float: left;
}
.sp-list li .pic {
  width: 188px;
  height: 132px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.sp-list li .pic img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}
.sp-list li .font {
  color: #646262;
}
.sp-list.list-st1 li, .sp-list.list-st5 li {
  width: 160px;
}
.sp-list.list-st1 li .pic, .sp-list.list-st5 li .pic {
  width: 160px;
  height: 118px;
}
.sp-list.list-st5 li {
  margin-right: 22px;
  width: 163px;
  margin-bottom: 8px;
}
.sp-list.list-st5 li .pic {
  width: 163px;
  height: 125px;
}
.sp-list.list-st2 {
  padding: 25px 0 0 6px;
}
.sp-list.list-st2 li {
  width: 222px;
  margin-right: 15px;
}
.sp-list.list-st2 li .pic {
  width: 222px;
  height: 156px;
}
.sp-list.list-st3 {
  padding: 25px 0 0 4px;
}
.sp-list.list-st3 li {
  width: 226px;
  margin-right: 20px;
}
.sp-list.list-st3 li .pic {
  width: 226px;
  height: 176px;
}
.sp-list.list-st4 {
  padding-top: 16px;
}
.sp-list.list-st4 li {
  margin-right: 27px;
  width: 172px;
}
.sp-list.list-st4 li .pic {
  width: 172px;
  height: 110px;
}

.com-de-tit {
  height: 20px;
  line-height: 20px;
  padding-left: 12px;
  border-left: 5px solid #01a2ff;
}
.com-de-tit span {
  font-size: 16px;
  color: #01a2ff;
}

.sp-info {
  padding: 22px;
}
.sp-info .pic {
  width: 358px;
}
.sp-info .pic img {
  max-width: 358px;
}
.sp-info .sm {
  width: 160px;
  padding-left: 20px;
}
.sp-info .sm h3 {
  font-size: 20px;
}

.gz-info {
  padding: 16px;
}
.gz-info .pic {
  width: 298px;
}
.gz-info .pic .img-big {
  width: 298px;
  height: 224px;
  display: table-cell;
  vertical-align: middle;
}
.gz-info .pic .img-big img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}
.gz-info .pic .img-sl {
  margin-right: -10px;
}
.gz-info .pic .img-sm {
  float: left;
  width: 96px;
  height: 70px;
  text-align: center;
  margin-right: 6px;
  font-size: 40px;
  cursor: pointer;
  opacity: 0.6;
}
.gz-info .pic .img-sm.current {
  opacity: 1;
}
.gz-info .pic .img-sm img {
  display: inline-block;
  vertical-align: middle;
  max-width: 96px;
  max-height: 70px;
}
.gz-info .sm {
  width: 388px;
  padding-left: 16px;
}
.gz-info .sm h3 {
  font-size: 20px;
}
.gz-info .tb th {
  height: 40px;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}
.gz-info .tb td {
  height: 30px;
}
.gz-info .tb th, .gz-info .tb td {
  padding-right: 15px;
  padding-left: 5px;
  white-space: nowrap;
}
.gz-info .other {
  padding: 11px 16px;
  background: #eef2f4;
  border: 1px solid #e4ecf0;
  color: #486574;
  line-height: 24px;
}

.intro-text {
  padding-top: 10px;
  line-height: 30px;
}

.message-item dt {
  padding-left: 16px;
  height: 34px;
  line-height: 34px;
  background: #f1f1f1;
  color: #6c6c6c;
}
.message-item dt span {
  margin-right: 12px;
}
.message-item dd {
  padding: 16px 0;
  padding-left: 16px;
  line-height: 24px;
}

.message-form {
  color: #464646;
  border-top: 1px solid #ccc;
}
.message-form h3 {
  line-height: 1;
  font-size: 16px;
  padding: 16px 0 0 22px;
  font-weight: bold;
}
.message-form .row {
  overflow: hidden;
  margin-top: 14px;
}
.message-form .row .row-name {
  float: left;
  width: 98px;
  line-height: 28px;
  text-align: right;
}
.message-form .row div {
  overflow: hidden;
}
.message-form .row input {
  vertical-align: middle;
}
.message-form .row .text-in {
  width: 320px;
  height: 26px;
  line-height: 26px\9;
  border: 1px solid #ccc;
  padding: 0 5px;
}
.message-form .row .cont-in {
  width: 320px;
  padding: 5px;
  border: 1px solid #ccc;
  height: 110px;
  vertical-align: top;
}
.message-form .row .check-img {
  height: 28px;
}
.message-form.reg {
  padding: 34px 0;
  border: none;
}
.message-form.reg .row-name {
  font-size: 16px;
  width: 330px;
}
.message-form.reg .text-in {
  width: 306px;
  height: 30px;
  line-height: 30px\9;
  border: 1px solid #ccc;
  padding: 0 5px;
}
.message-form.reg .size-sm {
  width: 220px;
}
.message-form.reg .btn-get {
  background: #dedede;
  height: 32px;
  vertical-align: middle;
  color: #5c5c5c;
  width: 82px;
}
.message-form.reg .btn-row {
  padding: 0;
  padding-top: 20px;
}
.message-form.reg .btn-row .btn {
  font-size: 16px;
  width: 178px;
  height: 34px;
}
.message-form.reg .xieyi {
  font-size: 12px;
  padding-top: 20px;
}
.message-form.reg .xieyi input {
  vertical-align: middle;
}
.message-form.reg .xieyi a {
  color: #666;
}
.message-form .line {
  height: 1px;
  background: #e9e9e9;
  margin: 34px 0;
}
.message-form .tip {
  position: absolute;
  width: 286px;
  font-size: 12px;
  color: #ff6c00;
  margin-top: -3px;
  margin-left: 5px;
}
.message-form .btn-row {
  padding-left: 98px;
}
.message-form .btn-row .btn {
  width: 94px;
}

.city-sel {
  overflow: hidden;
  border-bottom: 1px solid #e9e9e9;
}
.city-sel a {
  float: left;
  height: 28px;
  line-height: 28px;
  text-align: center;
  padding: 0 10px;
  min-width: 48px;
  margin-bottom: 10px;
}
.city-sel a.current {
  background: #01a2ff;
  color: #fff;
}

.city-item {
  overflow: hidden;
}
.city-item .tit {
  height: 42px;
  background: #f3f3f3;
  padding-left: 10px;
}
.city-item span {
  display: inline-block;
  height: 22px;
  line-height: 22px;
  border-left: 9px solid #01a2ff;
  padding-left: 12px;
  font-size: 16px;
  color: #444;
  margin-top: 10px;
}
.city-item ul {
  margin-right: -112px;
  padding: 8px 0 0 16px;
}
.city-item li {
  width: 180px;
  float: left;
  margin: 8px 0;
  margin-right: 70px;
}
.city-item li a {
  color: #444;
}

.contract {
  font-size: 16px;
  line-height: 36px;
  padding-left: 36px;
}

.auther {
  width: 100%;
  position: absolute;
  height: 65px;
  margin-top: -60px;
}
.auther .t-img {
  float: left;
  height: 65px;
  margin-right: 22px;
}
.auther .t-info {
  overflow: hidden;
}
.auther .t-info h4 {
  font-size: 22px;
  color: #01a2ff;
}
.auther .t-info p {
  font-size: 18px;
  color: #a1a1a1;
}

.sub-nav {
  height: 43px;
  background: url(../images/usnav_bg.jpg) no-repeat;
}
.sub-nav .nav-ul {
  float: left;
  padding-top: 10px;
  height: 22px;
  line-height: 22px;
}
.sub-nav .nav-ul li {
  float: left;
  border-right: 1px solid #fff;
  padding: 0 30px;
}
.sub-nav .nav-ul li a {
  color: #fff;
}
.sub-nav .gl-btn {
  float: right;
  height: 27px;
  line-height: 27px;
  color: #414141;
  background: #fff;
  text-align: center;
  padding: 0 12px;
  border-radius: 3px;
  margin: 8px 8px 0 0;
}

.us-com-mod {
  background: #fff;
  margin-right: 10px;
}
.us-com-mod .tit {
  height: 38px;
  line-height: 38px;
  color: #fff;
  padding-left: 10px;
  font-size: 16px;
  background: #01a2ff;
}
.us-com-mod .cont {
  min-height: 475px;
}
.us-com-mod .gz-list li {
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
}
.us-com-mod .gz-list li .dian {
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #c6c6c6;
  vertical-align: middle;
  margin-right: 10px;
}
.us-com-mod .gz-list li a {
  color: #c6c6c6;
}
.us-com-mod .gz-list li a:hover, .us-com-mod .gz-list li a.active {
  color: #01a2ff;
}
.us-com-mod .gz-list li a:hover .dian, .us-com-mod .gz-list li a.active .dian {
  background: #01a2ff;
}

.us-right-part {
  background: #fff;
  padding: 10px;
}

.focus {
  width: 348px;
  height: 262px;
  overflow: hidden;
  position: relative;
  margin-right: 20px;
}

.focus-page {
  position: absolute;
  font-size: 0;
  bottom: 8px;
  right: 8px;
}
.focus-page li {
  display: inline-block;
  width: 9px;
  height: 9px;
  background: #000;
  opacity: 0.5;
  margin-right: 5px;
  cursor: pointer;
}
.focus-page li.on {
  opacity: 1;
  background: #01a2ff;
}

.us-info {
  overflow: hidden;
}
.us-info .info-item {
  height: 34px;
  line-height: 34px;
  border-bottom: 1px dashed #bdbdbd;
  color: #444;
}
.us-info .info-item span {
  color: #999;
}
.us-info .info-zy {
  border-bottom: none;
  height: auto;
  line-height: 24px;
  padding-top: 5px;
}
.us-info .info-zy h4 {
  color: #999;
}

.tbtj .tit {
  height: 40px;
  line-height: 40px;
  background: #ffefe1 url(../images/tit_bg.png) no-repeat;
  color: #ff6c00;
  font-size: 16px;
  padding-left: 35px;
  font-weight: bold;
}
.tbtj .cont {
  padding-top: 10px;
  padding-left: 4px;
}
