@import "reset";
@import "base";
body {

}
.top-bar {
    height: 39px;
    line-height: 39px;
    border-bottom: 1px solid #ededed;
    color: #999;
    .top-menu {
        li {
            float: left;
            margin-left: 20px;
            a {
                color: #01a2ff;
                text-decoration: underline;
            }
        }
    }
}
.footer {
    background: #616161;
    line-height: 24px;
    color: #fff;
    text-align: center;
    .inner {
        padding: 24px 0;
    }
}
.menu-container {
    height: 141px;
    &.bor-st {
        border-bottom: 5px solid #01a2ff;
        padding-bottom: 10px;
        .main-menu {
            margin-right: -45px;
            li {
                margin-right: 45px;
                a {
                    font-size: 18px;
                }
                &:after{
                    content: ' ';
                    position: absolute;
                    width: 1px;
                    height: 19px;
                    background: #b4b4b4;
                    margin-top: 4px;
                    margin-left: 23px;
                }
                &.last{
                    &:after {
                        background: #fff;
                    }
                }
            }
        }
    }
    .logo {
        width: 216px;
        height: 66px;
        background: url(../images/logo.png) no-repeat;
        margin-top: 15px;
    }
    .search-box {
        width: 484px;
        height: 35px;
        background: #01a2ff;
        margin-top: 32px;
        .search-in-box {
            width: 388px;
            height: 31px;
            background: #fff;
            border: 2px solid #01a2ff;
            .com-select {
                float: left;
            }
        }
        .user-in {
            width: 286px;
            height: 20px;
            margin-top: 5px;
            margin-left: 10px;
        }
        .search-btn {
            float: left;
            width: 92px;
            height: 100%;
            background: url(../images/icon_search.png) center center no-repeat;
        }
    }
    .area2 {
        padding-top: 25px;
    }
    .quick-nav {
        position: absolute;
        width: 224px;
        overflow: hidden;
        dt {
            height: 35px;
            background: #20adff;
            text-align: center;
            font-size: 16px;
            line-height: 35px;
            color: #fff;
        }
        dl {
            height: 390px;
            background: #01a2ff;
            padding: 10px 15px;
            line-height: 30px;
            margin-right: -40px;
            a {
                white-space: nowrap;
                float: left;
                color: #fff;
                margin-right: 30px;
            }
        }
    }
    .main-menu {
        overflow: hidden;
        margin-right: -30px;
        padding-top: 3px;
        li {
            float: left;
            a {
                font-size: 16px;
                color: #444;
                &.current {
                    color: #20adff;
                }
            }
            margin-right: 24px;
        }
    }
}
.banner-container {
    height: 410px;
    .banner-list {
        &, li {
            height: 100%;
        }
        li {
            a {
                display: block;
            }
        }
    }
    .baner-page {
        position: absolute;
        margin-top: -35px;
        margin-left: 560px;
        font-size: 0;
        span {
            display: inline-block;
            width: 56px;
            height: 11px;
            background: #fff;
            opacity: 0.5;
            filter: alpha(opacity=50);
            cursor: pointer;
            margin-right: 18px;
            &.current {
                background: #01a2ff;
            }
        }
    }
}
.main-container {
    background: #ededed;
    padding-bottom: 30px;
}
.com-part-area {
    background: #fff;
}
.com-cont-inner {
    padding-top: 12px;
}
.com-cont-inner2 {
    padding: 12px 15px;
}
.com-tit {
    height: 60px;
    margin: 0 15px;
    border-bottom: 1px solid #e9e9e9;
    .tit-st {
        position: absolute;
        margin-left: -15px;
        margin-top: -7px;
        width: 172px;
        height: 50px;
        color: #fff;
        line-height: 50px;
        font-size: 0;
        .font {
            vertical-align: middle;
            font-size: 22px;
            margin-left: 10px;
        }
        .icon {
            margin-left: 28px;
        }
        .j {
            position: absolute;
            width: 0;
            height: 0;
            border: 7px solid transparent;
            border-left-width: 4px;
            border-right-width: 4px;
            border-left-color: #094c73;
            right: -8px;
        }
        .z {
            position: absolute;
            height: 8px;
            width: 14px;
            background: #fff;
            right: -14px;
            top: 7px;
        }
    }
    .st1 {
        background: #01a2ff;
    }
    .st2 {
        background: #ff9306;
        .j {
            border-left-color: #ba7010;
        }
        .icon {
            margin-left: 20px;
        }
    }
    .st5 {
        background: #ff6464;
        .j {
            border-left-color: #be4b4b;
        }
        .icon {
            margin-left: 20px;
        }
    }
    .st6 {
        background: #ff9306;
        .j {
            border-left-color: #b16706;
        }
        .icon {
            margin-left: 20px;
        }
    }
    .st7 {
        background: #ba9d76;
        .j {
            border-left-color: #9a7f5b;
        }
        .icon {
            margin-left: 20px;
        }
    }
    .st8 {
        background: #d84040;
        .j {
            border-left-color: #7e2710;
        }
        .icon {
            margin-left: 12px;
        }
    }
    .st9 {
        background: #831ef4;
        .j {
            border-left-color: #312828
        }
        .icon {
            margin-left: 12px;
        }
    }
    .more {
        float: right;
        font-size: 16px;
        color: #666;
        margin: 18px 24px 0 0;
    }
}
.qg-tit {
    height: 180px;
    border-bottom: none;
    .tit-st {
        width: 64px;
        height: 186px;
        text-align: center;
        .font {
            width: 26px;
            display: inline-block;
            margin: auto;
            line-height: 30px;
        }
    }
    .st3 {
        background: #2ca3b5;
        .j {
            border-left-color: #20823e;
            top: 0;
        }
        .icon {
            position: relative;
            left: -13px;
        }
    }
    .st4 {
        background: #2cb556;
        .j {
            border-left-color: #196d7f;
            top: 0;
        }
        .icon {
            position: relative;
            left: -13px;
        }
    }
}
.com-cont {
    margin: 0 15px;
    overflow: hidden;
}
.pic-news-item {
    margin: 20px 0;
    overflow: hidden;
    &.has-pa {
        padding-bottom: 20px;
        border-bottom: 1px dashed #ccc;
    }
    dt {
        padding-left: 5px;
        float: left;
        img {
            width: 205px;
            height: 136px;
            border: 1px solid #cdcdcd;
        }
    }
    dl {
        margin-left: 230px;
        h2 {
            height: 34px;
            line-height: 1;
            a{
                font-size: 18px;
                font-weight: bold;
            }
        }
        h3 {
            line-height: 22px;
            color: #a1a1a1;
        }
        p {
            margin-top: 5px;
            line-height: 26px;
            color: #444;
        }
    }
}
.person-area {
    .com-cont {
        margin-right: -70px;
        padding: 12px 0;
    }
    .pic-news-item {
        float: left;
        width: 430px;
        margin-right: 94px;
        margin: 12px 0;
        dt {
            img {
                width: 162px;
                height: 102px;
            }
        }
        dl {
            margin-left: 184px;
            h2 {
                height: 28px;
                line-height: 28px;
                a{
                    font-size: 16px;
                    color: #666;
                }
            }
            p {
                margin-top: 5px;
                line-height: 24px;
                color: #666;
            }
        }
    }
}
.ad {
    margin: 12px 0;
    img {
        max-width: 1000px;
    }
}
.slide-area {
    position: relative;
    background: #fff;
    height: 208px;
    .slide {
        margin: 0 30px;
        padding: 15px 0;
    }
    .prev-btn, .next-btn {
        position: absolute;
        width: 30px;
        height: 60px;
        top: 50%;
        background: #01a2ff url(../images/arr2.png) center center no-repeat;
        margin-top: -30px;
        left: -15px;
    }
    .next-btn {
        background: #01a2ff url(../images/arr3.png) center center no-repeat;
        right: -15px;
        left: auto;
    }
}
.com-dis-list {
    overflow: hidden;
    li {
        width: 174px;
        margin-right: 18px;
        float: left;
        .pic {
            width: 172px;
            height: 110px;
            display: table-cell;
            vertical-align: middle;
            border: 1px solid #c9c9c9;
            text-align: center;
        }
        img {
            display: inline-block;
            vertical-align: middle;
            max-width: 172px;
            max-height: 110px;
        }
        h3 {
            line-height: 1;
            margin-top: 12px;
            margin-bottom: 4px;
            font-weight: bold;
            &, a {
                color: #01a2ff;
            };
        }
        p {
            font-size: 12px;
        }
    }
    &.list-st1 {
        margin-right: -20px;
        li {
            width: 178px;
            margin-right: 20px;
            margin-bottom: 10px;
            .pic {
                width: 176px;
                height: 134px;
            }
            img {
                max-width: 176px;
                max-height: 134px;
            }
            p {
                color: #979797;
                font-size: 14px;
                line-height: 18px;
                margin-top: 8px;
            }
        }
    }
}
.scsy-area {
    height: 236px;
    position: relative;
    .com-tit {
        position: absolute;
    }
    .sc-tit {
        left: 0;
    }
    .sy-tit {
        right: 34px;
        .j {
            border-right-color: #20823e;
            border-left-color: transparent;
            right: 64px;
        }
        .z {
            right: 64px;
        }
    }
    .sc-cont {
        position: absolute;
        width: 420px;
        margin: 20px 0 0 84px;
        .more {
            font-size: 16px;
            margin-right: 15px;
        }
        ul {
            overflow: hidden;
        }
        li {
            width: 190px;
            float: left;
            margin-right: 15px;
            text-align: center;
            .pic {
                width: 188px;
                height: 132px;
                display: table-cell;
                vertical-align: middle;
                border: 1px solid #c9c9c9;
                img{
                    display: inline-block;
                    vertical-align: middle;
                    max-width: 188px;
                    max-height: 132px;
                }
            }
            .font {
                line-height: 34px;
                color: #666;
            }
        }
    }
    .sy-cont {
        margin-left: 518px;
    }
}
.tj-box {
    float: left;
    width: 225px;
    .tj-list {
        li {
            padding-left: 10px;
            a {
                padding-left: 26px;
                color: #666;
                line-height: 22px;
                font-size: 16px;
                background: url(../images/icon_ph.png) left center no-repeat;
            }
            margin: 15px 0;
        }
    }
}
.tj-box-1 {
    overflow: hidden;
    border-left: 1px solid #e9e9e9;
    padding-left: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
    .com-dis-list {
        margin-right: -16px;
        li {
            width: 216px;
            margin-right: 32px;
            margin-bottom: 20px;
            .pic {
                width: 216px;
                height: 138px;
            }
            img {
                max-width: 216px;
                max-height: 138px;
            }
            h3 {
                a {
                    font-size: 16px;
                }
            }
            p {
                color: #979797;
            }
        }
    }
}

.gz-box1 {
    float: left;
    width: 360px;
}
.gz-box2 {
    overflow: hidden;
    padding-left: 10px;
    .com-dis-list2 {
        margin-right: -16px;
    }
}
.com-dis-list2 {
    overflow: hidden;
    li {
        width: 360px;
        height: 290px;
        float: left;
        margin-bottom: 12px;
        .pic {
            display: inline-block;
            width: 100%;
            height: 100%;
            position: relative;
            img {
                width: 100%;
                height: 100%;
            }
            h3 {
                width: 100%;
                position: absolute;
                left: 0;
                bottom: 0;
                height: 40px;
                line-height: 40px;
                text-align: center;
                color: #fff;
                font-size: 16px;
                background: rgba(0,0,0,.56);
            }
        }
    }
    &.list-st1 {
        li {
            width: 188px;
            height: 139px;
            margin-right: 16px;
            h3 {
                height: 28px;
                line-height: 28px;
                font-size: 14px;
            }
        }
    }
}
.ad-list {
    margin-left: 5px;
    margin-right: -10px;
    overflow: hidden;
    padding-bottom: 15px;
    li {
        float: left;
        width: 180px;
        height: 60px;
        margin: 0 14px 10px 0;
        img {
            width: 100%;
            height: 100%;
        }

    }
}
.dir-area {
    span {
        font-family: '\5B8B\4F53';
        color: #6c6c6c;
        padding: 0 10px;
    }
    a {
        color: #444;
    }
}
.page-container {
    font-size: 0;
    text-align: center;
    margin: 20px 0;
    span, a {
        display: inline-block;
        font-size: 14px;
        height: 25px;
        border: 1px solid #e8e8e8;
        line-height: 25px;
        padding: 0 12px;
        margin-left: 10px;
        color: #666;
    }
    .page-current {
        background: #0096ff;
        color: #fff;
    }
}
.news-container {
    padding: 0 16px;
    margin-top: 15px;
    .tit {
        font-size: 20px;
        color: #444;
        height: 90px;
        line-height: 90px;
        text-align: center;
        border-bottom: 1px solid #e9e9e9;
    }
    .source {
        height: 60px;
        line-height: 60px;
        border-bottom: 1px solid #e9e9e9;
        color: #999;
        text-align: center;
        span {
            margin-right: 44px;
        }
    }
    .news-info {
        padding: 16px;
    }
}
.quick-res {
    float: left;
    margin-left: 180px;
    line-height: 48px;
    label, a {
        color: #999;
    }
    a {
        margin-right: 10px;
    }
}
.pp-sel {
    a {
        color: #999;
    }
    a {
        margin-right: 10px;
    }
}
.quick-search {
    float: right;
    padding-top: 14px;
    input {
        width: 250px;
        height: 28px;
        line-height: 28px\9;
        background: #f2f2f2;
        padding: 0 5px;
    }
    button {
        height: 28px;
        color: #fff;
        background: #01a2ff;
        padding: 0 10px;
    }
}
.col-2 {
    padding-top: 22px;
    overflow: hidden;
    .l-area, .r-area {
        padding-bottom: 2000px;
        margin-bottom: -2000px;
        min-height: 300px;
    }
    .l-area {
        width: 272px;
        border-right: 1px solid #e9e9e9;
    }
    .r-area {
        width: 710px;
    }
}
.col-3 {
    overflow: hidden;
    .left, .right, .main {
        float: left;
        min-height: 250px;
    }
    .left {
        background: #fff;
        width: 196px;
        background: #fff;
        margin-left: -100%;
    }
    .right {
        background: #fff;
        width: 202px;
        margin-left: -202px;
    }
    .main {
        width: 100%;
        .cont {
            background: #fff;
            margin: 0 212px 0 206px;
            min-height: 250px;
        }
    }
}
.list-wrap {
    margin: 0 10px;
}
.fl-list {
    li {
        padding: 15px 10px;
        border-bottom: 1px solid #e9e9e9;
        a {
            display: block;
            padding-left: 12px;
            height: 20px;
            line-height: 20px;
            border-left: 5px solid #c6c6c6;
            color: #999;
            &.current {
                color: #01a2ff;
                border-color: #01a2ff;
            }
        }
    }
}
.ph-tab {
    height: 34px;
    border-bottom: 1px solid #e9e9e9;
    li {
        font-size: 16px;
        line-height: 1;
        width: 80px;
        text-align: center;
        float: left;
        cursor: pointer;
        border-bottom: 3px solid transparent;
        color: #999;
        padding: 8px 0;
        margin-bottom: -1px;
        margin-right: 5px;
        &.current {
            border-color: #42b0ff;
            color: #42b0ff;
        }
    }
}
.ol-list {
    li {
        margin: 20px 0;
        color: #666;
        padding: 0 4px;
        span {
            display: inline-block;
            width: 16px;
            height: 16px;
            line-height: 16px;
            text-align: center;
            background: #d8d8d7;
            font-size: 12px;
            margin-right: 10px;
            vertical-align: middle;
            &.one {
                background: #ff3728;
                color: #fff;
            }
            &.two {
                background: #ff8328;
                color: #fff;
            }
            &.three {
                background: #ffca28;
                color: #fff;
            }
            &.icon-us {
                background: url(../images/icon_use2.png) no-repeat;
            }
        }
        em {
            float: right;
        }
        a {
            display: inline-block;
            width: 150px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: #666;
            line-height: 16px;
            vertical-align: middle;
            &.w-big {
                width: 210px;
            }
        }
    }
}
.com-sim-tit {
    line-height: 1;
    height: 48px;
    span {
        padding-left: 4px;
        font-size: 18px;
        color: #444;
    }
}
.com-sim-cont {
    overflow: hidden;
    padding-left: 12px;
}
.sp-list {
    overflow: hidden;
    margin-right: -50px;
    li {
        width: 188px;
        line-height: 1;
        margin-right: 50px;
        margin-bottom: 26px;
        float: left;
        .pic {
            width: 100%;
            height: 132px;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            img {
                display: inline-block;
                vertical-align: middle;
                max-width: 100%;
                max-height: 100%;
            }
        }
        .font {
            color: #646262;
        }
    }
    &.list-st1 {
        padding: 25px 0 0 6px;
        li {
            width: 160px;
            .pic {
                height: 118px;
            }
        }
    }
}
.com-de-tit {
    height: 20px;
    line-height: 20px;
    padding-left: 12px;
    border-left: 5px solid #01a2ff;
    span {
        font-size: 16px;
        color: #01a2ff;
    }
}
.sp-info {
    padding: 22px;
    .pic {
        width: 358px;
        img {
            max-width: 358px;
        }
    }
    .sm {
        width: 160px;
        padding-left: 20px;
        h3 {
            font-size: 20px;
        }
    }
}
.intro-text {
    padding-top: 10px;
    line-height: 30px;
}
.message-item {
    dt {
        padding-left: 16px;
        height: 34px;
        line-height: 34px;
        background: #f1f1f1;
        color: #6c6c6c;
        span {
            margin-right: 12px;
        }
    }
    dd {
        padding: 16px 0;
        padding-left: 16px;
        line-height: 24px;
    }
}
.message-form {
    color: #464646;
    border-top: 1px solid #ccc;
    h3 {
        line-height: 1;
        font-size: 16px;
        padding: 16px 0 0 22px;
        font-weight: bold;
    }
    .row {
        overflow: hidden;
        margin-top: 14px;
        .row-name {
            float: left;
            width: 98px;
            line-height: 28px;
            text-align: right;
        }
        div {
            overflow: hidden;
        }
        input {
            vertical-align: middle;
        }
        .text-in {
            width: 320px;
            height: 26px;
            line-height: 26px\9;
            border: 1px solid #ccc;
            padding: 0 5px;
        }
        .cont-in {
            width: 320px;
            padding: 5px;
            border: 1px solid #ccc;
            height: 110px;
            vertical-align: top;
        }
        .check-img {
            height: 28px;
        }
    }
    .btn-row {
        padding-left: 98px;
        .btn {
            width: 94px;
        }
    }
}
.city-sel {
    overflow: hidden;
    border-bottom: 1px solid #e9e9e9;
    a {
        float: left;
        height: 28px;
        line-height: 28px;
        text-align: center;
        padding: 0 10px;
        min-width: 48px;
        margin-bottom: 10px;
        &.current {
            background: #01a2ff;
            color: #fff;
        }
    }
}
.city-item {
    overflow: hidden;
    .tit {
        height: 42px;
        background: #f3f3f3;
        padding-left: 10px;
    }
    span {
        display: inline-block;
        height: 22px;
        line-height: 22px;
        border-left: 9px solid #01a2ff;
        padding-left: 12px;
        font-size: 16px;
        color: #444;
        margin-top: 10px;
    }
    ul {
        margin-right: -112px;
        padding: 8px 0 0 16px;
    }
    li {
        width: 180px;
        float: left;
        margin: 8px 0;
        margin-right: 70px;
        a {
            color: #444;
        }
    }
}

